html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body
{
    background-color: rgb(238, 239, 240);
    transition: 0.2s;
}

body.dark
{
    background-color: rgb(28, 31, 33);
    transition: 0.2s;
}

.tabs-container
{
    width: 750px;
    max-width: 90%;
}

.main-div
{
    background: linear-gradient(58deg, rgba(124,85,251,1) 0%, rgba(50,64,255,1) 100%);
}

.tab-div
{
    background-color: rgb(223, 224, 225);
    box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
    border-radius: 2px;
    transition: 0.2s;
}

.dark .tab-div
{
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.01);
    background-color: rgb(43, 45, 51);
    transition: 0.2s;
}

.tab-div:hover
{
    box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.15);
    transform: scale(1.05, 1.05);
    transition: 0.2s;
}

.dark .tab-div:hover
{
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.01);
    transition: 0.2s;
}

.bi
{
    transform: translate(0, -2px)!important;
}

a
{
    text-decoration: none;
}

.tab-text
{
    color: black!important;
}

.dark .tab-text
{
    color: rgb(228, 229, 230)!important;
}

h1
{
    font-size: 3rem;
}

h5
{
    font-size: 1.5rem;
}

.light-theme
{
    display: none;
}

.dark .light-theme
{
    display: inline-block;
}

.dark-theme
{
    display: inline-block;
}

.dark .dark-theme
{
    display: none;
}

.theme-switcher
{
    transform: scale(1, 1);
    transition: 0.2s;
}

.theme-switcher:hover
{
    transform: scale(1.1, 1.1);
    transition: 0.2s;
}

.file-tab
{
    height: 8rem;
}

@media screen and (max-width: 500px)
{
    h1
    {
        font-size: 2.5rem;
    }

    h5
    {
        font-size: 1.25rem;
    }
}